@use '../helpers' as *;

.catalog{
    &__inner{
        display: grid;
        gap:  var(--section-inner-gap);
    }

    &__grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap:rem(100) rem(40);

        @include PC{
            grid-template-columns: repeat(2, 1fr);
            gap:rem(70) rem(40);
        }
        @include mobile{
            grid-template-columns:auto;
            gap: rem(50);
        }
        
    }
}